.navbar-container {
    z-index: 2;
    top: 0;
    left: 0;
    position: fixed;
    height: 8vh;
    width: 100vw;
    background-color: black;
    opacity: 0.8;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.logo {
height: 7vh;
margin-right: 10vw;

}

