.navbar-container {
    z-index: 2;
    top: 0;
    left: 0;
    position: fixed;
    height: 8vh;
    width: 100vw;
    background-color: black;
    opacity: 0.8;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
height: 7vh;
padding: 20px;

}
.nav-links {
    text-decoration: none;
}
.nav-section {
    color:gold;
    font-family: 'Quintessential', cursive;
    font-size: 32px;
    text-align: center;
    padding: 20px;
}

