.app-container {
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.selected-popup {
display:flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.champion-text {
  font-size: 40px;
  color: white;
}
.selected-popup-none {
  display:none;
}
.champs-none {
  display: none;
}
.champs-view {
 
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  
}
.champion-name {
  margin-bottom: 1vh;
  font-size: 22px;
  color: gold;
  list-style: none;
}
body {
  background-color: rgb(47, 47, 117);
}
.search-container {
  margin-top : 10vh;

  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search {
  width: 30vw;
  height: 5vh;
  position: relative;

}

.search-list-view {
padding: 5px;
display:inline;
list-style: none;
color:gold;
}
.search-list-none {
  display: none;
}
.champion-infos {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: white ;
  flex-wrap: wrap;
  width: 100vw;
}
.champion-name-selected {
  list-style: none;
  color: gold;
  font-size: 42px;
  text-align: center;
  margin-bottom: 15px;
}
.partype {
  color: gold;
  font-size: 32px;
  margin-right: 15px;
}
.champion-tags {
  color: white;
  font-size: 22px;
}
.champion-text {
  color: white;
  padding: 100px;
  font-style: italic;
  line-height: 1.5;
}
/* .champion-spells {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  font-size: 22px;
 
} */
.champion-spell-name-1 {
  text-align: left;
height: fit-content;
width: 10vw;
color: gold;
font-size: 28px;
}
.champion-spell-description-1 {
width: 50vw;
height: 10vh;
text-align: center;
margin-left: 20vw;
font-size: 28px;
}
.champion-passive-title {
  text-align: left;
height: fit-content;
width: 10vw;
color: gold;
font-size: 30px;
}
.champion-passive-description {
  width: 50vw;
  height: 10vh;
  text-align: center;
  margin-left: 20vw;
  font-size: 28px;
}
.champion-allytips {
color: gold;
font-size: 32px;
padding: 100px;
line-height: 1.5;
}
.champion-enemytips {
  line-height: 1.5;
color: gold;
font-size: 32px;
padding: 100px;
}
